body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.main {
    padding: 1em;
    text-align: center;
}


@media (max-width: 30em) {
    .main {
        flex: 1 0 auto;
    }
}

@media (min-width: 30em) {
    header {
        display: block;
    }

    .wrapper {
        flex-direction: row;
    }

    .main {
        flex: 1 1 auto;
    }
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

th {
    border: 1px solid;
}

td {
    border: 1px solid;
}

tr {
    border: 1px solid;
}

tr:hover td {
    background: #e8edff;
}

#confirmBtn {
    display: inline-block;
    border-radius: 30px;
    background: #ffc107;
    border-color: #ffc107;
    margin: 4px;
    width: 100%;
    min-width: 75px;
}

#confirmBtn:hover {
    background: #03fc7f;
    color: black;
    border-color: #03fc7f;
}

#goBackImg {
    float: left;
    width: 2em;
    height: 2em;
}