footer {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    background-color: #212529;
    padding: 10px;
    text-align: center;
}

label#author {
    color: #ffc918;
}

img.linkImageFooter {
    width: 2em;
    height: 2em;
}