body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.main {
    padding: 1em;
    text-align: center;
}


@media (max-width: 30em) {
    .main {
        flex: 1 0 auto;
    }
}

@media (min-width: 30em) {
    header {
        display: block;
    }

    .wrapper {
        flex-direction: row;
    }

    .main {
        flex: 1 1 auto;
    }
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

th {
    border: 1px solid;
}

tr {
    border: 1px solid;
}

tr:hover td {
    background: #e8edff;
}

td {
    border: 1px solid;
}

#goBackImg {
    float: left;
    width: 2em;
    height: 2em;
}